[submodule "Python_25_Projects_madlib_1"]
	path = Python_25_Projects_madlib_1
	url = https://github.com/Rajda-Hyder/Python_25_Projects_madlib_1
[submodule "Python_25_Projects_Number_Guessing_Game_2-3-User_computer-"]
	path = Python_25_Projects_Number_Guessing_Game_2-3-User_computer-
	url = https://github.com/Rajda-Hyder/Python_25_Projects_Number_Guessing_Game_2-3-User_computer-
[submodule "Python_25_projects_RockPaperScissores_Game_4"]
	path = Python_25_projects_RockPaperScissores_Game_4
	url = https://github.com/Rajda-Hyder/Python_25_projects_RockPaperScissores_Game_4
[submodule "Python_25_Projects_Hangman_5"]
	path = Python_25_Projects_Hangman_5
	url = https://github.com/Rajda-Hyder/Python_25_Projects_Hangman_5
[submodule "python_25_projects_countdown_timer_6"]
	path = python_25_projects_countdown_timer_6
	url = https://github.com/Rajda-Hyder/python_25_projects_countdown_timer_6
[submodule "python_25_projects_password_generator_7"]
	path = python_25_projects_password_generator_7
	url = https://github.com/Rajda-Hyder/python_25_projects_password_generator_7
[submodule "Python_25_projects_streamlit_website_9"]
	path = Python_25_projects_streamlit_website_9
	url = https://github.com/Rajda-Hyder/Python_25_projects_streamlit_website_9
[submodule "Python_25_projects_BMI_Calculator_streamlit_8"]
	path = Python_25_projects_BMI_Calculator_streamlit_8
	url = https://github.com/Rajda-Hyder/Python_25_projects_BMI_Calculator_streamlit_8
